// Home page
.section-title {
    font-weight: bolder;
    padding-bottom: 10px;
}


// Popular movies list
.popular-section {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}

// Movie card item
.movie-card-item {
    width: 150px;
    min-width: 150px;
    border: none;
    margin-right: 20px;

    .card-image {
        img {
            max-width: 100%;
            max-height: 100%;
            border-radius: 10px;
        }
    }
    
    .card-content {
        padding: 26px 10px 12px 10px;
        text-align: center;

        .score-average {
            width: 40px;
            height: 40px;
            position: absolute;
            top: 204px;
            left: 55px;
            border-radius: 50%;
            background-color: #081c22;

            border-style: solid;
            border-color: #08b89c;

            color: white;
            font-weight: 700;
            padding-top: 6px;
        }

        a {
            text-decoration: none;
            color: black;
            font-weight: bolder;
        }
    }
}
