.movies-main-section {
    margin: 100px 0px 50px 0px;
 
    .genre-selection-card {
        border-radius: 5px;
        box-shadow: 5px 10px 10px rgb(218, 218, 218);

        .group-container {
            border-radius: 5px;
            height: 290px;
            overflow-y: scroll;

            ul {
                li  {
                    border-bottom: 1px solid rgb(240, 240, 240);

                    .genre-item {
                        text-decoration: none;
                        color: grey;
                    }

                    // Activated menu item
                    .activated {
                        color: #010118;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}

// Movies list
.movies-list-section {
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;

    @media (max-width: 991px) {
        margin-left: 0px;
    }

    .movie-card-item {
        margin-right: 40px;

        @media (max-width: 991px) {
            margin-right: 20px;
        }

        @media (max-width: 361px) {
            margin-right: 10px;
        }
    }
}